.advantages{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    max-width: 1920px;
    width: 80%;
    gap: 2rem;
}

.advantages h2{
    font-size: 1.9em;
}

.advantages-blocks{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.advantages-block{
    width: 25%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    background: #F4F4F4;
    border-radius: 1rem;
    padding: 2rem;
}

.advantages-block b{
    font-size: 1.1em;
    color: #000;
}